table {
    margin: 0 auto;
    width: 25%;
    height: 25em;
    margin-top: 5em;
    text-align: center;
    padding: 10px;

}
#screen{
    text-align: right;
    background-color: rgb(161, 165, 165);
    height: 3em;
    width: 100%;
    color: white;
    font-weight: bolder;
    width: 90%;
    
}
input{
    padding: 10px;
    width: 75%;
}
input:hover{
    background-color: crimson;
    color: white;
}